::-webkit-scrollbar {
  width: 12px;
  height: 16px;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff !important;
}
::-webkit-scrollbar-thumb {
  background: #1C9EB6 !important;
  opacity: 0.5;
  border-radius: 4px;
}

.pfi-custom-tooltip {
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
}

.pfi-custom-tooltip .echarts-tooltip-arrow {
  display: none;
}
